@media (max-width: 991px) {
    .main {
        padding: 15px;
    }
    .page:hover {
        box-shadow: none;
    }
}

@media (max-width: 768px) {
    .user-info {
        width: 100%;
        order: 2;
    }
    .intro__photo {
        width: 100%;
        order: 1;
    }
    .socials {
        justify-content: space-between;
    }
    .social__icon {
        font-size: 35px;
    }
    .social__item:hover {
        transform: scale(1);
    }
}
